[Desktop Entry]
Name=Grayscale
Icon=preferences-system-windows-effect-dialog-parent
Comment=Fullscreen grayscale effect.

Type=Service
X-KDE-ServiceTypes=KWin/Effect,KCModule
X-KDE-PluginInfo-Author=Murat Çileli
X-KDE-PluginInfo-Email=murat.cileli@gmail.com
X-KDE-PluginInfo-Name=kwin4_effect_grayscale
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Ordering=50
X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js
X-KDE-PluginKeyword=kwin4_effect_grayscale
X-KDE-Library=kcm_kwin4_genericscripted
X-KDE-ParentComponents=kwin4_effect_grayscale
X-KWin-Config-TranslationDomain=kwin_effects
